/* pages/index/index.wxss */
.index {
  background: #F3F4F8;
  min-height: 100vh;
  .logo {
    width: 308.68rpx;
    height: 45.43rpx;
  }
  .search {
    position: sticky;
    background: #ffffff;
    width: 100vw;
    z-index: 9;
    image {
      width: 690rpx;
      margin: 10rpx 0 28rpx;
      height: 75rpx;
    }
  }

  .make-home {
    position: relative;
    width: 662rpx;
    height: 244rpx;
    z-index: 1;
    margin-top: 30rpx;
    >view {
      width: 50%;
      height: 100%;
    }
  }
  .remind {
    position: relative;
    z-index: 1;
    width: 690rpx;
    height: 76rpx;
    margin: 40rpx 0;
    background: #e7e8f2;
    image {
      width: 30rpx;
      height: 30rpx;
      margin: 0 12rpx 0 20rpx;
    }
    text {
      font-family: 'Source Han Sans CN';
      font-style: normal;
      font-weight: 400;
      font-size: 22rpx;
      color: #0B357A;
    }
  }
  .tab {
    width: 690rpx;
    margin-bottom: 33rpx;
    .tab-item {
      text {
        font-family: 'Source Han Sans CN';
        font-style: normal;
        font-weight: 400;
        font-size: 30rpx;
        line-height: 51rpx;
        color: #585B61;
        margin-right: 33rpx;
        &.cur {
          font-weight: 700;
          font-size: 34rpx;
          color: #010204;
        }
      }
    }
    .look-more {
      width: 149rpx;
      height: 43rpx;
    }
  }
}