/* components/describe-credentials/describe-credentials.wxss */
.describe-credentials {
  padding: 30rpx 20rpx 34rpx 20rpx;
  background-color: #ffffff;
  margin-top: 20rpx;
  .refund {
    margin-bottom: 47rpx;
    image {
      width: 46rpx;
      height: 46rpx;
      margin-right: 24rpx;
    }
    view {
      font-family: 'Source Han Sans CN';
      font-style: normal;
      font-weight: 500;
      font-size: 30rpx;
      color: #010204;
    }
  }
  .title {
    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 500;
    font-size: 32rpx;
    color: #010204;
    margin-bottom: 30rpx;
  }
  .form {
    position: relative;
    padding: 20rpx;
    width: 670rpx;
    height: 354rpx;
    background: #FBFBFB;
    border-radius: 8rpx;
    textarea {
      font-weight: 400;
      font-size: 28rpx;
    }
    .upload-img {
      position: absolute;
      z-index: 9;
      bottom: 20rpx;
      left: 20rpx;
      >image, .show-img {
        position: relative;
        width: 150rpx;
        height: 150rpx;
      }
      .show-img {
        margin-right: 10rpx;
        .shut-down-img-box {
          position: absolute;
          padding: 8rpx;
          right: 0;
          top: 0;
          z-index: 99;
          .shut-down-img {
            width: 25rpx;
            height: 25rpx;
          }
        }
      }
    }
  }
}

.describe-credentials2 {
  margin-top: 55rpx;
}