/* pages/pages-list/vip/vip.wxss */
.vip {
  font-size: 0;
  image {
    width: 100vw;
    height: 100vh;
  }
}

.people {
  background-color: #ffffff;
  padding: 20rpx 80rpx 0 80rpx;
  border: 8rpx solid #0B357A;
  border-radius: 16rpx;
  position: relative;
  .text2 {
    margin: 105rpx 0 10rpx 0;
  }
  .text3 {
    margin: 0 0 40rpx 0;
  }
  .text2, .text3 {
    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 500;
    font-size: 32rpx;
    text-align: center;
    color: #212121;
  }
  .text4 {
    margin: 0 0 64rpx 0;
    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 500;
    font-size: 48rpx;
    text-align: center;
    letter-spacing: 0.06rem;
    color: #0B357A;
  }

  .logo {
    width: 140rpx;
    height: 30rpx;
    margin-bottom: 25rpx;
  }
  
  .btn1 {
    margin: 12rpx 0 20rpx 0;
    width: 356rpx;
    height: 76rpx;
    font-style: normal;
    font-weight: 400;
    font-size: 26rpx;
    color: #fff;
    background: #0B357A;
    border-radius: 44rpx;
    border: 1rpx solid #0B357A;
  }
  
  .shut-down {
    position: absolute;
    bottom: -75rpx;
    width: 52.09rpx;
    height: 52.09rpx;
    transform: translateY(100%);
  }
}