/* pages/pages-list/sample-sent-back-order/sample-sent-back-order.wxss */
.sample-sent-back-order {
  background: #F2F2F2;
  padding-top: 20rpx;
  min-height: 100vh;
  .list {
    background-color: #ffffff;
    padding: 0 30rpx 50rpx 30rpx;
    .item {
      padding: 30rpx 0 40rpx 0;
      &:not(:last-of-type) {
        border-bottom: 1rpx solid #E5E5E5;
      }
      .bar-code {
        font-family: 'Source Han Sans CN';
        font-style: normal;
        font-weight: 400;
        font-size: 24rpx;
        color: #585B61;
        margin-bottom: 36rpx;
      }
      .sample-img {
        width: 146rpx;
        height: 146rpx;
        margin-right: 18rpx;
      }
      .sample-name {
        font-family: 'Source Han Sans CN';
        font-style: normal;
        font-weight: 400;
        font-size: 28rpx;
        color: #0F0F0F;
        padding-top: 10rpx;
      }
      .position {
        position: relative;
        width: 525rpx;
        .button {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 150rpx;
          height: 64rpx;
          font-family: 'Source Han Sans CN';
          font-style: normal;
          font-weight: 400;
          font-size: 28rpx;
          color: #010204;
          border: 1rpx solid #585B61;
          border-radius: 4rpx;
        }
      }
    }
  }
  .look-more {
    background-color: #ffffff;
    margin-bottom: 20rpx;
    image {
      width: 130rpx;
      height: 35rpx;
      margin-bottom: 20rpx;
    }
  }
  .delivery-info {
    padding: 30rpx;
    background-color: #ffffff;
    image {
      width: 15rpx;
      height: 24rpx;
    }
    .delivery-address {
      font-family: 'Source Han Sans CN';
      font-style: normal;
      font-weight: 500;
      font-size: 30rpx;
      color: #010204;
      margin-bottom: 20rpx;
      text {
        font-family: 'Source Han Sans CN';
        font-style: normal;
        font-weight: 400;
        font-size: 24rpx;
        color: #0B357A;
        margin-right: 12rpx;
      }
    }
    .item {
      height: 90rpx;
      border-bottom: 1rpx solid #E5E5E5;
      margin-right: 50rpx;
      text {
        font-family: 'Source Han Sans CN';
        font-style: normal;
        font-weight: 400;
        font-size: 28rpx;
        color: #585B61;
      }
      input {
        width: 500rpx;
        text-align: right;
        font-family: 'Source Han Sans CN';
        font-weight: 350;
        font-size: 32rpx;
      }
      .placeholder-class {
        color: #9D9D9D;
      }
    }
    .take-time {
      height: 90rpx;
      margin-right: 50rpx;
      >text {
        font-family: 'Source Han Sans CN';
        font-style: normal;
        font-weight: 400;
        font-size: 28rpx;
        color: #585B61;
      }
      >view {
        text {
          font-family: 'Source Han Sans CN';
          font-style: normal;
          font-weight: 350;
          font-size: 32rpx;
          color: #0B357A;
          margin-right: 12rpx;
        }
      }
    }
  }
  .shipping-address {
    padding: 30rpx 32rpx;
    margin: 20rpx 0;
    background: #ffffff;
    .title {
      font-family: 'Source Han Sans CN';
      font-style: normal;
      font-weight: 500;
      font-size: 30rpx;
      color: #010204;
      margin-bottom: 30rpx;
    }
    .name {
      font-family: 'Source Han Sans CN';
      font-style: normal;
      font-weight: 500;
      font-size: 32rpx;
      color: #202B37;
      margin-right: 30rpx;
    }
    .mobile {
      font-family: 'Source Han Sans CN';
      font-style: normal;
      font-weight: 400;
      font-size: 26rpx;
      color: #9C9EA4;
    }
    .address {
      margin-top: 10rpx;
      font-family: 'Source Han Sans CN';
      font-style: normal;
      font-weight: 400;
      font-size: 28rpx;
      color: #4F5459;
    }
  }
  .note {
    background-color: #ffffff;
    padding: 30rpx 30rpx 45rpx 30rpx;
    view {
      font-family: 'Source Han Sans CN';
      font-style: normal;
      font-weight: 500;
      font-size: 30rpx;
      color: #010204;
      margin-bottom: 22rpx;
    }
    input {
      width: 600rpx;
      font-family: 'Source Han Sans CN';
      font-style: normal;
      font-weight: 400;
      font-size: 26rpx;
      // color: #9D9D9D;
    }
  }
  .placeholder {
    width: 100vw;
    height: 260rpx;
  }
  .confirm-mail {
    position: fixed;
    z-index: 9;
    width: 100vw;
    height: 170rpx;
    background-color: #ffffff;
    left: 0;
    bottom: 0;
    view {
      width: 690rpx;
      margin: 20rpx auto 0;
      height: 98rpx;
      background: #0B357A;
      border-radius: 4rpx;
      font-family: 'Source Han Sans CN';
      font-style: normal;
      font-weight: 500;
      font-size: 28rpx;
      color: #FFFFFF;
    }
  }
  .choose-time-pop {
    border-radius: 20rpx 20rpx 0 0;
    width: 750rpx;
    height: 670rpx;
    padding: 30rpx 40rpx 0 40rpx;
    background-color: #ffffff;
    .title {
      text {
        &:nth-of-type(1) {
          font-family: 'Source Han Sans CN';
          font-style: normal;
          font-weight: 500;
          font-size: 32rpx;
          color: #ACACAC;
        }
        &:nth-of-type(2) {
          font-family: 'Source Han Sans CN';
          font-style: normal;
          font-weight: 400;
          font-size: 32rpx;
          color: #333333;
        }
        &:nth-of-type(3) {
          font-family: 'Source Han Sans CN';
          font-style: normal;
          font-weight: 500;
          font-size: 32rpx;
          color: #0B357A;
        }
      }
    }
  }
}