/* pages/pages-list/report-view/report-view.wxss */
.report-view {
  min-height: 100vh;
  background: #F8F8F8;
  .describe {
    background-color: #ffffff;
    padding: 30rpx;
    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 400;
    font-size: 24rpx;
    line-height: 36rpx;
    color: #585B61;
  }
  .tab {
    background-color: #ffffff;
    padding: 0 88rpx;
    .item {
      &.cur {
        text {
          color: #0B357A;
          font-weight: 500;
        }
        view {
          opacity: 1;
        }
      }
      text {
        font-family: 'Source Han Sans CN';
        font-style: normal;
        font-weight: 400;
        font-size: 32rpx;
        color: #979797;
      }
      view {
        opacity: 0;
        margin-top: 16rpx;
        width: 80rpx;
        height: 6rpx;
        background: #0B357A;
      }
    }
  }
  .time-picker {
    padding: 30rpx 0 20rpx 32rpx;
    image {
      width: 28rpx;
      height: 28rpx;
    }
    text {
      margin-right: 20rpx;
      color: #9D9D9D;
    }
  }
  .scroll-view {
    height: calc(100vh - 282rpx);
    .list {
      padding: 0 30rpx;
      .item {
        margin-bottom: 20rpx;
        padding: 55rpx 35rpx 30rpx 35rpx;
        background: #FFFFFF;
        border-radius: 8rpx;
        .name {
          font-family: 'Source Han Sans CN';
          font-style: normal;
          font-weight: 400;
          font-size: 28rpx;
          color: #010204;
        }
        .project-name {
          font-family: 'Source Han Sans CN';
          font-style: normal;
          font-weight: 500;
          font-size: 32rpx;
          color: #0B357A;
          width: 620rpx;
          margin: 57rpx 0 20rpx 0;
        }
        .line {
          width: 620rpx;
          height: 1rpx;
          background: #E5E5E5;
        }
        .time, .company-name {
          text {
            &:nth-of-type(1) {
              font-family: 'Source Han Sans CN';
              font-style: normal;
              font-weight: 400;
              font-size: 24rpx;
              color: #979797;
              margin-right: 14rpx;
            }
            &:nth-of-type(2) {
              font-family: 'Source Han Sans CN';
              font-style: normal;
              font-weight: 400;
              font-size: 24rpx;
              color: #010204;
            }
          }
        }
        .time {
          margin: 30rpx 0 20rpx 0;
        }
        .immediately-check {
          width: 320rpx;
          margin: 0 auto;
          height: 86rpx;
          background: #0B357A;
          border-radius: 4rpx;
          font-family: 'Source Han Sans CN';
          font-style: normal;
          font-weight: 500;
          font-size: 32rpx;
          color: #FFFFFF;
          margin-top: 64rpx;
        }
      }
    }
  }
}