/* components/navigation/navigation.wxss */
.navigation {
  image {
    width: 32rpx;
    height: 32rpx;
  }
  text {
    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 500;
    font-size: 26rpx;
    color: #FF6464;
    margin-left: 6rpx;
  }
}