/* pages/pages-list/since-mining-order/since-mining-order.wxss */
.since-mining-order {
  background-color: #f2f2f2;
  min-height: 100vh;
  .search-type { 
    width: 100vw;
    background-color: #ffffff;
  }
  >.scroll-view {
    height: calc(100vh - 170rpx);
    .list {
      padding: 20rpx 0;
      .item {
        padding: 23rpx 30rpx 30rpx 30rpx;
        margin-bottom: 20rpx;
        background: #ffffff;

        .number-status {
          .number {
            font-family: 'Source Han Sans CN';
            font-style: normal;
            font-weight: 400;
            font-size: 24rpx;
            color: #585B61;
          }
          .status {
            font-family: 'Source Han Sans CN';
            font-style: normal;
            font-weight: 350;
            font-size: 24rpx;
            color: #E43B3B;
          }
        }
        .pay-info {
          margin-top: 40rpx;
          .time {
            font-family: 'Source Han Sans CN';
            font-style: normal;
            font-weight: 350;
            font-size: 24rpx;
            color: #9D9D9D;
          }
          .goods-info {
            font-family: 'Source Han Sans CN';
            font-style: normal;
            font-weight: 400;
            font-size: 24rpx;
            color: #010204;
          }
        }
        .action-buttons {      
          padding-top: 50rpx; 
          .cur {
            background: #0B357A;
            color: #fff;
          }
          .agin {
            border: 1rpx solid #0B357A;
            color: #0B357A;
          }
          >view {
            >view {
              width: 150rpx;
              height: 64rpx;
              font-family: 'Source Han Sans CN';
              font-style: normal;
              font-weight: 500;
              font-size: 28rpx;
              color: #010204;
              border: 1rpx solid #585B61;
              border-radius: 4rpx;
              &:not(:last-of-type) {
                margin-right: 20rpx;
              }
            }
          }
        }
      }
    }
  }
}

.logistics-pop {
  width: 750rpx;
  height: 949rpx;
  padding: 0 20rpx;
  background: #F2F2F2;
  border-radius: 16rpx 16rpx 0 0;
  .shut-down-img {
    position: absolute;
    right: 24rpx;
    top: 24rpx;
    width: 36rpx;
    height: 36rpx;
  }
  .title {
    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 500;
    font-size: 34rpx;
    color: #010204;
    margin: 40rpx 0 30rpx 0;
    text-align: center;
  }
  .content {
    background: #FFFFFF;
    height: calc(100% - 100rpx);
    .courier {
      height: 102rpx;
      padding: 0 20rpx;
      border-bottom: 1rpx solid #E5E5E5;
      .courier-company {
        font-family: 'Source Han Sans CN';
        font-style: normal;
        font-weight: 400;
        font-size: 28rpx;
        color: #010204;
      }
      .copy-call {
        font-family: 'Source Han Sans CN';
        font-style: normal;
        font-weight: 400;
        font-size: 28rpx;
        color: #010204;
        .line {
          width: 2rpx;
          height: 24rpx;
          background: #E5E5E5;
          margin: 0 30rpx;
        }
      }
    }
    .scroll-view {
      border-bottom: 1rpx solid #E5E5E5;
      height: 530rpx;
      padding-top: 40rpx;
      background-color: #ffffff;
      .list {
        .item {
          position: relative;
          padding-bottom: 90rpx;
          .progress-line {
            position: absolute;
            left: 34rpx;
            top: 0;
            width: 1rpx;
            height: 100%;
            background: #E5E5E5;
          }
          .circle {
            position: relative;
            z-index: 2;
            width: 68rpx;
            height: 32rpx;
            .circle0 {
              width: 22rpx;
              height: 22rpx;
              border-radius: 50%;
              background: #9D9D9D;
            }
            .circle1 {
              width: 32rpx;
              height: 32rpx;
              border-radius: 50%;
              background: #0B357A;
            }
          }
          .status {
            font-family: 'Source Han Sans CN';
            font-style: normal;
            font-weight: 500;
            font-size: 32rpx;
            color: #0B357A;
            margin-right: 10rpx;
          }
          .time {
            font-family: 'Source Han Sans CN';
            font-style: normal;
            font-weight: 350;
            font-size: 28rpx;
            color: #0B357A;
          }
          .describe {
            font-family: 'Source Han Sans CN';
            font-style: normal;
            font-weight: 400;
            font-size: 28rpx;
            color: #585B61;
            margin-top: 10rpx;
            width: 600rpx;
            line-height: 35rpx;
          }
        }
      }
    }
    .leave-info {
      padding: 30rpx 30rpx 90rpx 30rpx;
      image {
        width: 46rpx;
        height: 46rpx;
        margin-right: 14rpx;
      }
      view {
        width: 590rpx;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 26rpx;
        line-height: 38rpx;
        color: #010204;
      }
    }
  }
}