/* pages/pages-list/login/login.wxss */
.login {
  image {
    position: absolute;
    top: 0;
    width: 750rpx;
    height: 709rpx;
  }
  .container {
    margin-top: 260rpx;
    border-radius: 28rpx 28rpx 0 0;
    position: relative;
    z-index: 2;
    height: calc(100vh - 400rpx);
    background-color: #ffffff;
    .input {
      view {
        font-family: 'Source Han Sans CN';
        font-style: normal;
        font-weight: 500;
        font-size: 34rpx;
        line-height: 80rpx;
        color: #181818;
        margin-top: 30rpx;
        width: 610rpx;
      }
      input {
        width: 610rpx;
        border-bottom: 2rpx solid #F2F2F2;
      }
    }
    .input:first-of-type>view:first-of-type {
      margin-top: 70rpx;
    }
    .btn-login {
      width: 684rpx;
      height: 96rpx;
      background: #2C67E9;
      border-radius: 48rpx;
      font-family: 'Source Han Sans CN';
      font-style: normal;
      font-weight: 500;
      font-size: 38rpx;
      color: #FFFFFF;
      margin-top: 160rpx;
    }
  }
}


.people {
  background-color: #ffffff;
  padding: 20rpx 80rpx 0 80rpx;
  border: 8rpx solid #0B357A;
  border-radius: 16rpx;
  position: relative;
  .text2 {
    margin: 105rpx 0 10rpx 0;
  }
  .text3 {
    margin: 0 0 40rpx 0;
  }
  .text2, .text3 {
    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 500;
    font-size: 32rpx;
    text-align: center;
    color: #212121;
  }
  .text4 {
    margin: 0 0 64rpx 0;
    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 500;
    font-size: 48rpx;
    text-align: center;
    letter-spacing: 0.06rem;
    color: #0B357A;
  }

  .logo {
    width: 140rpx;
    height: 30rpx;
    margin-bottom: 25rpx;
  }
  
  .btn1 {
    margin: 12rpx 0 42rpx 0;
    width: 356rpx;
    height: 76rpx;
    border-radius: 44rpx;
    border: 1rpx solid #0B357A;
    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 400;
    font-size: 26rpx;
    color: #0B357A;
  }
  .btn2 {
    margin: 12rpx 0 30rpx 0;
    width: 356rpx;
    height: 76rpx;
    font-style: normal;
    font-weight: 400;
    font-size: 26rpx;
    color: #fff;
    background: #0B357A;
    border-radius: 44rpx;
    border: 1rpx solid #0B357A;
  }
  
  .shut-down {
    position: absolute;
    bottom: -75rpx;
    width: 52.09rpx;
    height: 52.09rpx;
    transform: translateY(100%);
  }
}